/* VARIABLES */

$color-01: hsl(0, 100%, 74%);   //primary color
$color-02: hsl(154, 59%, 51%);  //primary color
$color-02-active: hsl(154, 89%, 47%);
$color-03: hsl(248, 32%, 49%);  //Accent color
$color-04: hsl(249, 10%, 26%);  //Neutral color
$color-05: hsl(246, 25%, 77%);  //Neutral color
$color-white: hsl(0, 100%, 100%);
$color-shadow-01: hsla(0, 1%, 1%, 0.2);

$bo-radious: 8px;
$shadow-box: 0 5px $color-shadow-01;

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: $color-white;
}

main {
    font-family: 'Poppins', sans-serif;
    background-color: $color-01;
    position: relative;
    min-height: 100%;
    padding: {
        top: 2rem;
        bottom: 2rem;
    };
    &::before {
        content: '';
        display: block;
        position: absolute;
        background-image: url('images/bg-intro-desktop.png');
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
    }
}

.card-container {
    z-index: 10;
    > div {
        height: 100%;
    }
}

.left-card-box {
    h1 {
        font-weight: 700;
    }
    p {
        font-weight: 500;
    }
}

.purple-box {
    background-color: $color-03;
    color: $color-white;
    height: 3rem;
    border-radius: $bo-radious;
    box-shadow: $shadow-box;
    font-size: 0.8rem;
    span {
        font-weight: 700;
    }
}

.form-box {
    background-color: $color-white;
    height: 100%;
    border-radius: $bo-radious;
    box-shadow: $shadow-box;
    padding: 2rem;
}

form {
    input {
        height: 3rem;
        width: 100%;
        margin-top: 1rem;
        border: solid 1px lightgray;
        border-radius: 5px;
        padding: {
            left: 1.5rem;
            right: 1.5rem;
        }
        &:active {
            border: solid 1px black;
        }
        &:focus {
            outline: 0;
            border: solid 1px black;
        }
    }
    button {
        margin-top: 1rem;
    }
}

::placeholder {
    font-size: 0.8rem;
    font-weight: 600;
}

.warning-text {
    color: $color-01;
    font-size: 0.7rem;
    font-weight: 600;
    font-style: italic;
    float: right;
    margin-top: 0.3rem;
    > i {
        font-size: 0.9rem;
    }
}

.action-btn {
    border: none;
    border-radius: 5px;
    background-color: $color-02;
    box-shadow: 0 -3px $color-shadow-01 inset;
    color: $color-white;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
    font-variant-caps: all-petite-caps;
    height: 3rem;
    &:hover {
        background-color: $color-02-active;
    }
    &:active {
        background-color: darkslategray;
    }
}

.disclaimer-text {
    margin-top: 1rem;
    color: $color-05;
    font-size: 0.6rem;
    text-align: center;
    > span {
        color: $color-01;
        font-weight: 700;
    }
}

footer {
    .attribution { 
        font-size: 11px;
        text-align: center;
        color: darkslategray;
    }
    .attribution a { color: hsl(228, 45%, 44%); }
}

@media screen and (max-width: 400px) {
    main::before {
        background-image: url('images/bg-intro-mobile.png');
    }
    .left-card-box {
        text-align: center;
    }
}